<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- 配置hibernate框架 -->
<hibernate-configuration>
  <session-factory>
  <!-- 用这个类去访问数据库 -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/personnel</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <!-- 每次访问数据库的时候打印sql语句 -->
    <property name="show_sql">true</property>
    <!-- hiernate的数据库方言 -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- hibernate是对象关系映射的框架，它的原理是对象关系映射 -->
    <!--  -->
    <mapping class="com.xuchengguo.personnel.entity.Announcement"/>
    <mapping class="com.xuchengguo.personnel.entity.Assess"/>
    <mapping class="com.xuchengguo.personnel.entity.Procurator"/>
    <mapping class="com.xuchengguo.personnel.entity.User"/>
    <mapping class="com.xuchengguo.personnel.entity.Bill"/>
    <mapping class="com.xuchengguo.personnel.entity.LimitsPower"/>
    <mapping class="com.xuchengguo.personnel.entity.Department"/>
    <mapping class="com.xuchengguo.personnel.entity.Introduction"/>
    <mapping class="com.xuchengguo.personnel.entity.Membership"/>
    <mapping class="com.xuchengguo.personnel.entity.StatisticsBig"/>
  </session-factory>
</hibernate-configuration>
