<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>index</title>
    <meta name="content-type" content="text/html; charset=UTF-8">
  </head>
  
  <body>
        <div class="listTitle">
        <h1>检务公告</h1>
        <ul class="announcementList">
          <li th:each="announcement: ${announcementList}" 
              th:id="'announcement_' + ${announcement.id}">
            <div class="announcementTitle" th:text="${announcement.title}">检务标题</div>
            <div>
              <span class="announcementSendTime" th:text="${announcement.sendTime}">发布时间</span>
              <span class="announcementAuthorName" th:text="'{' + ${announcement.authorName} + ', ' + ${announcement.styleName} + ')'">姓名, 类型</span>
            </div>
          </li>
        </ul>
      </div>
  </body>
</html>
