<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script type="text/javascript" src="../lib/html5shiv.js"></script>
    <script type="text/javascript" src="../lib/respond.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.min.css"/>
    <link href="../static/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="../lib/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
	<script type="text/javascript" src="../lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="../lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
    <title>人事管理</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内"/>
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！"/>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-header">添加成员</div>
    <div class="panel-body">
        <form action="../introduction/adds" method="post" class="form form-horizontal responsive" id="demoform"
        accept-charset="UTF-8">
             <div class="row cl">
                    <label class="form-label col-xs-3">部门：</label>
                    <div class="formControls col-xs-8"> <span class="select-box">
            		<select id="DepartmentId" class="select" size="1" name="departmentId" datatype="*"  nullmsg="请选择部门"
            		>
                		<option value="" selected>请选择部门</option>
                		<option value="1">控告申诉检察部门</option>
                		<option value="2">反贪污贿赂部门</option>
                		<option value="3">反渎职侵权部门</option>
                		<option value="4">侦查监督部门</option>
                		<option value="5">公诉部门</option>
                		<option value="6">监所检察部门</option>
                		<option value="7">民事行政检察部门</option>
                		<option value="8">职务犯罪预防部门</option>
                		<option value="9">案件管理部门</option>
                		<option value="10">检察技术部门</option>
                		<option value="11">纪检、监察部门</option>
                		<option value="12">机关服务中心</option>
            		</select>
            	</span>
            	</div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">姓名：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text"  name="name"
                           id="name"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">性别：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text"  name="sex"
                           id="sex" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">年龄：</label>
                <div class="formControls col-xs-8">
                    <input type="number" class="input-text" autocomplete="off"  name="age"
                           id="age" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">民族：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text"  name="nation"
                           id="nation" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">健康状况：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text"  name="physicalCondition"
                           id="physicalCondition" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">出生日期：</label>
                <div class="formControls col-xs-8">
                    <input type="date" class="input-text"  autocomplete="off" id="birthday"
                           name="birthday"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">籍贯：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text"  name="nativePlace"
                           id="nativePlace" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">出生地：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text"  name="birthplace"
                           id="birthplace" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">入党日期：</label>
                <div class="formControls col-xs-8">
                    <input type="date" class="input-text"  autocomplete="off" id="joinPartyTime"
                           name="joinPartyTime"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">参加工作日期：</label>
                <div class="formControls col-xs-8">
                    <input type="date" class="input-text" autocomplete="off" id="joinWorkTime"
                           name="joinWorkTime"/>
                </div>
            </div>
             <div class="row cl">
                    <label class="form-label col-xs-3">学历：</label>
                    <div class="formControls col-xs-8"> <span class="select-box">
            <select id="educationBackground" class="select" size="1" name="educationBackground" datatype="*" nullmsg="请选择学历！">
                <option value="" selected>请选择学历！</option>
          		<option value="研究生教育">研究生教育</option>
          		<option value="研究生">研究生</option>
          		<option value="研究生班">研究生班</option>
          		<option value="中央党校研究生">中央党校研究生</option>
          		<option value="省（区、市）委党校研究生">省（区、市）委党校研究生</option>
          		<option value="本科教育">本科教育</option>
          		<option value="大学">大学</option>
          		<option value="中央党校大学">中央党校大学</option>
          		<option value="省（区、市）委党校大学">省（区、市）委党校大学</option>
          		<option value="专科教育">专科教育</option>
          		<option value="大专">大专</option>
          		<option value="省（区、市）委党校大专">省（区、市）委党校大专</option>
          		<option value="大学普通班">大学普通班</option>
          		<option value="中央党校大专">中央党校大专</option>
          		<option value="中专">中专</option>
          		<option value="中技">中技</option>
          		<option value="高中">高中</option>
          		<option value="初中">初中</option>
          		<option value="小学">小学</option>
            </select>
            </span>
            </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">毕业院校：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text"  name="graduationSchool"
                           id="graduationSchool"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">职务：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text"  name="nowJob"
                           id="nowJob"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">简历：</label>
                <div class="formControls col-xs-8">
                        <textarea cols="" rows="" class="textarea" name="resume" id="resume" 
                                   onkeyup="$.Huitextarealength(this,5000)"></textarea>
                    <p class="textarea-numberbar"><em class="textarea-length">0</em>/5000</p>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">奖惩情况：</label>
                <div class="formControls col-xs-8">
                        <textarea cols="" rows="" class="textarea" name="rewardsPunishment" id="rewardsPunishment"
                                  placeholder="说点什么...最少输入10个字符" onkeyup="$.Huitextarealength(this,5000)"></textarea>
                    <p class="textarea-numberbar"><em class="textarea-length">0</em>/5000</p>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-xs-offset-3">
                    <input class="btn btn-primary" type="submit" value="&nbsp;&nbsp;添加&nbsp;&nbsp;"/>
                    <a href="../introduction" class="btn btn-primary">&nbsp;&nbsp;关闭&nbsp;&nbsp;</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
